@import "tailwindcss/base";
@import "./tooltip.css";
@tailwind components;
@tailwind utilities;

:root {
    --box-shadow-text: 
        4px 0 #363062,
        -4px 0 #363062,
        0 -4px #363062,
        0 4px #363062,
        8px 0 #F5E8C7,
        -8px 0 #F5E8C7,
        0 -8px #F5E8C7,
        0 8px #F5E8C7, 
        0 0 0 4px #F5E8C7;
    --box-shadow-modal: 
        4px 0 #818FB4,
        -4px 0 #818FB4,
        0 -4px #818FB4,
        0 4px #818FB4,
        8px 0 #F5E8C7,
        -8px 0 #F5E8C7,
        0 -8px #F5E8C7,
        0 8px #F5E8C7, 
        0 0 0 4px #F5E8C7;
    --box-shadow-success: 
        4px 0 #22c55e,
        -4px 0 #22c55e,
        0 -4px #22c55e,
        0 4px #22c55e,
        8px 0 #F5E8C7,
        -8px 0 #F5E8C7,
        0 -8px #F5E8C7,
        0 8px #F5E8C7, 
        0 0 0 4px #F5E8C7;
    --box-shadow-primary: 
        4px 0 #3b82f6,
        -4px 0 #3b82f6,
        0 -4px #3b82f6,
        0 4px #3b82f6,
        8px 0 #F5E8C7,
        -8px 0 #F5E8C7,
        0 -8px #F5E8C7,
        0 8px #F5E8C7, 
        0 0 0 4px #F5E8C7;
    --emote-sprite-url: url('https://lvu1slpqdkmigp40.public.blob.vercel-storage.com/sprites/emote_sprites-VdmE6gR3XhJ9rRTLfeI4RNuN5vcEL0.png');
    --tile-city-sprite-url: url('https://lvu1slpqdkmigp40.public.blob.vercel-storage.com/sprites/tile_city_sprites-grwOelNZeSvTSJ79nEnrXKl2lEXDjI.png');
    --tile-other-sprite-url: url('https://lvu1slpqdkmigp40.public.blob.vercel-storage.com/sprites/tile_other_sprites-aFM8hqo0Bj3VwhDgSflFJCWLqQu0B0.png');
}

input, select {
    @apply text-black
}

img[alt] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.scrollbar-none {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Chrome, Safari */
}

@media screen and (min-width: 1024px) {
    ol > details > li, ol > li {
        @apply pl-6 py-1 ml-2 leading-4
    }
}
@media screen and (max-width: 1024px) {
    ol > details > li, ol > li {
        @apply pl-6 py-1 ml-1
    }
}

body {
    counter-reset: li-counter;
}

ol > details > li::before, ol > li::before {
    counter-increment: li-counter;
    content: counter(li-counter) '.';
    position: absolute;
    margin-left: -1.5rem;
}

ol > details > li:hover {
    @apply bg-darkblue-2
}

ul > li {
    @apply py-1
}

.border-8bit-text {
    box-shadow: var(--box-shadow-text);
    margin: 8px auto;
}
.border-8bit-modal {
    box-shadow: var(--box-shadow-modal);
    margin: 8px auto;
}
.border-8bit-success {
    box-shadow: var(--box-shadow-success);
    margin: 8px auto;
}
.border-8bit-primary {
    box-shadow: var(--box-shadow-primary);
    margin: 8px auto;
}

/* emotes */
.emote-flushed, .emote-hamil, .emote-joycat, .emote-love, .emote-nerd, 
.emote-pleading, .emote-jake, .emote-jori, .emote-juril, .emote-ooo, 
.emote-owo, .emote-peb, .emote-saskeh, .emote-stonks, .emote-sunglas, 
.emote-sus, .emote-thonk, .emote-tsundere, .emote-wat, .emote-suicid { 
    max-width: 100%; 
    background-size: 100%; 
    background-image: var(--emote-sprite-url); 
}

.emote-flushed { background-position: 0 0%; background-size: 100%; }
.emote-hamil { background-position: 0 5.785124%; background-size: 100%; }
.emote-joycat { background-position: 0 11.570248%; background-size: 100%; }
.emote-love { background-position: 0 17.355372%; background-size: 100%; }
.emote-nerd { background-position: 0 23.140496%; background-size: 100%; }
.emote-pleading { background-position: 0 28.92562%; background-size: 100%; }
.emote-jake { background-position: 0 34.503361%; background-size: 112.5%; }
.emote-jori { background-position: 0 39.65646%; background-size: 112.5%; }
.emote-juril { background-position: 0 44.809559%; background-size: 112.5%; }
.emote-ooo { background-position: 0 49.962659%; background-size: 112.5%; }
.emote-owo { background-position: 0 55.115758%; background-size: 112.5%; }
.emote-peb { background-position: 0 59.755626%; background-size: 115.5%; }
.emote-saskeh { background-position: 0 64.002987%; background-size: 112.5%; }
.emote-stonks { background-position: 0 69.156087%; background-size: 112.5%; }
.emote-sunglas { background-position: 0 74.253731%; background-size: 112.5%; }
.emote-sus { background-position: 0 79.387603%; background-size: 112.5%; }
.emote-thonk { background-position: 0 84.540702%; background-size: 112.5%; }
.emote-tsundere { background-position: 0 89.693801%; background-size: 112.5%; }
.emote-wat { background-position: 0 94.846901%; background-size: 112.5%; }
.emote-suicid { background-position: 0 100%; background-size: 141.176471%; }

/* city tiles */
.tile-city-aceh, .tile-city-backrooms, .tile-city-denpasar, .tile-city-bandung, .tile-city-jakarta, 
.tile-city-pulau-komodo, .tile-city-lawang-sewu, .tile-city-magelang, .tile-city-makassar, .tile-city-nusantara, 
.tile-city-padang, .tile-city-palembang, .tile-city-pontianak, .tile-city-surabaya, .tile-city-yogyakarta
{ max-width: 100%; background-size: 100%; background-image: var(--tile-city-sprite-url); }
 
.tile-city-aceh { background-position: 0 0%; background-size: 100%; }
.tile-city-backrooms { background-position: 0 7.142857%; background-size: 100%; }
.tile-city-denpasar { background-position: 0 14.285714%; background-size: 100%; }
.tile-city-bandung { background-position: 0 21.428571%; background-size: 100%; }
.tile-city-jakarta { background-position: 0 28.571429%; background-size: 100%; }
.tile-city-pulau-komodo { background-position: 0 35.714286%; background-size: 100%; }
.tile-city-lawang-sewu { background-position: 0 42.857143%; background-size: 100%; }
.tile-city-magelang { background-position: 0 50%; background-size: 100%; }
.tile-city-makassar { background-position: 0 57.142857%; background-size: 100%; }
.tile-city-nusantara { background-position: 0 64.285714%; background-size: 100%; }
.tile-city-padang { background-position: 0 71.428571%; background-size: 100%; }
.tile-city-palembang { background-position: 0 78.571429%; background-size: 100%; }
.tile-city-pontianak { background-position: 0 85.714286%; background-size: 100%; }
.tile-city-surabaya { background-position: 0 92.857143%; background-size: 100%; }
.tile-city-yogyakarta { background-position: 0 100%; background-size: 100%; }

/* other tiles */
.tile-other-buff, .tile-other-chance, .tile-other-community, .tile-other-debuff, .tile-other-prison, 
.tile-other-parking, .tile-other-crack
{ max-width: 100%; background-size: 100%; background-image: var(--tile-other-sprite-url); }
 
.tile-other-buff { background-position: 0 0%; background-size: 100%; }
.tile-other-chance { background-position: 0 16.666667%; background-size: 100%; }
.tile-other-community { background-position: 0 33.333333%; background-size: 100%; }
.tile-other-debuff { background-position: 0 50%; background-size: 100%; }
.tile-other-prison { background-position: 0 66.666667%; background-size: 100%; }
.tile-other-parking { background-position: 0 83.333333%; background-size: 100%; }
.tile-other-crack { background-position: 0 100%; background-size: 100%; }