@import "tailwindcss/base";
@import "./tooltip.css";
@tailwind components;
@tailwind utilities;

:root {
    --box-shadow-text: 
        4px 0 #363062,
        -4px 0 #363062,
        0 -4px #363062,
        0 4px #363062,
        8px 0 #F5E8C7,
        -8px 0 #F5E8C7,
        0 -8px #F5E8C7,
        0 8px #F5E8C7, 
        0 0 0 4px #F5E8C7;
    --box-shadow-modal: 
        4px 0 #818FB4,
        -4px 0 #818FB4,
        0 -4px #818FB4,
        0 4px #818FB4,
        8px 0 #F5E8C7,
        -8px 0 #F5E8C7,
        0 -8px #F5E8C7,
        0 8px #F5E8C7, 
        0 0 0 4px #F5E8C7;
    --box-shadow-success: 
        4px 0 #22c55e,
        -4px 0 #22c55e,
        0 -4px #22c55e,
        0 4px #22c55e,
        8px 0 #F5E8C7,
        -8px 0 #F5E8C7,
        0 -8px #F5E8C7,
        0 8px #F5E8C7, 
        0 0 0 4px #F5E8C7;
    --box-shadow-primary: 
        4px 0 #3b82f6,
        -4px 0 #3b82f6,
        0 -4px #3b82f6,
        0 4px #3b82f6,
        8px 0 #F5E8C7,
        -8px 0 #F5E8C7,
        0 -8px #F5E8C7,
        0 8px #F5E8C7, 
        0 0 0 4px #F5E8C7;
}

input, select {
    @apply text-black
}

img[alt] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media screen and (min-width: 1024px) {
    ol > details > li, ol > li {
        @apply pl-6 py-1 ml-2 leading-4
    }
}
@media screen and (max-width: 1024px) {
    ol > details > li, ol > li {
        @apply pl-6 py-1 ml-1
    }
}

body {
    counter-reset: li-counter;
}

ol > details > li::before, ol > li::before {
    counter-increment: li-counter;
    content: counter(li-counter) '.';
    position: absolute;
    margin-left: -1.5rem;
}

ol > details > li:hover {
    @apply bg-darkblue-2
}

ul > li {
    @apply py-1
}

.border-8bit-text {
    box-shadow: var(--box-shadow-text);
    margin: 8px auto;
}
.border-8bit-modal {
    box-shadow: var(--box-shadow-modal);
    margin: 8px auto;
}
.border-8bit-success {
    box-shadow: var(--box-shadow-success);
    margin: 8px auto;
}
.border-8bit-primary {
    box-shadow: var(--box-shadow-primary);
    margin: 8px auto;
}